<p id="notice"><%= notice %></p>

<h1>Usuarios</h1>

<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Nombre de usuario</th>
        <th>Admin</th>
        <th colspan="1"></th>
      </tr>
    </thead>

    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><%= user.userName %></td>
          <td><%= user.admin %></td>
          <td><%= link_to 'Mostrar formularios', list_registries_user_path(user), {class: "btn btn-info"} %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<br>
  <div>
    <%= link_to 'Nuevo registro', new_registry_path, {class: "btn btn-success"} %>
  </div>