<h1>Formularios</h1>
  <div>
    <%= link_to 'Listado de usuarios', users_path, {class: "btn btn-info"} %>
  </div>
<div class="table-responsive">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Nivel Escolar</th>
        <th>Longitud</th>
        <th>Latitud</th>
      </tr>
    </thead>
    <tbody>
      <% @registries.each do |registry| %>
        <tr>
          <td><%= registry.name %></td>
          <td><%= registry.educationLevel %></td>
          <td><%= registry.latitude %></td>
          <td><%= registry.longitude %></td>
        </tr>
        <tr>
            <td colspan="2"><img width=275px; width=270px; src=" <%if !registry.picture.nil?%><%= registry.picture.base64Picture %><% end %>" alt="No hay foto"></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<br>
