<%= form_with(model: picture, local: true) do |form| %>
  <% if picture.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(picture.errors.count, "error") %> prohibited this picture from being saved:</h2>

      <ul>
        <% picture.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :base64Picture %>
    <%= form.text_area :base64Picture %>
  </div>

  <div class="field">
    <%= form.label :registry_id %>
    <%= form.text_field :registry_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
